.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .slider{
        flex: 0.25;
    
}
    .container{
        width: 95%;
        display: flex;
        margin:2%;
        flex: 0.6;
        flex-direction: row;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        background-color: white;
        .left{
            padding: 4%;
            flex: 0.5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            >*{
                margin:5% 0;
            }
            h1{
                font-size: 40px;
            }
           
        }
        .right{
            flex:0.5;
            display: flex;
            align-items: center;
            text-align: center;
           
            position: relative;
            .imgContainer{
                width: 800px;
                height: 600px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                
                img{
                    
                    height: 80%;
                    width: auto;
                }
            }
        }
}
}